[submodule "modules/MCcubed"]
	path = modules/MCcubed
	url = https://github.com/pcubillos/mc3
[submodule "modules/incubator-datasketches-cpp"]
	path = modules/incubator-datasketches-cpp
	url = https://github.com/mdhimes/incubator-datasketches-cpp
	branch = master
